@font-face {
  font-family: Equestria;
  src: url(./font/Equestria.otf);
}

@font-face {
  font-family: Roboto;
  src: url(./font/Roboto-Regular.ttf);
}

html, body {
	margin: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px;
}

.main-container {
	/**max-width: 900px;*/
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: center;
}

.mobile-nav-bar {
	display: none;
}
nav {
	font-family: Roboto;
	padding: 5px 10px;

	overflow-y: auto;
	background-color: rgba(255, 255, 255, .85);
	width: 200px;

	flex-shrink: 0;
	flex-grow: 0;

	position: sticky;
	top: 10px;
	bottom: 20px;
	margin: 10px 10px;
	height: calc(100vh - 40px);
	
}

nav a {
	display: inline-block;
}

main {
	box-sizing: border-box;
	/*overflow-y: auto;*/
	flex-grow: 1;
	flex-shrink: 1;

	max-width: 1000px;

	font-family: "Roboto";
	background-color: rgba(255, 255, 255, .85);
	padding: 10px .5in;
}


div {
	
}

#background.adult {
	background-image: url(./img/Canterlot_night.webp);
}

#background {
	background-image: url(./img/Map_of_Equestria_2015.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	z-index: -1;

}

.title {
	font-family: "Equestria";
	font-size: 4em;
	text-align: center;
	color: #ee3d96;
}

h1, h2, h3, h4 {
	font-family: "Equestria";
	margin-bottom: 0px;
	margin-top: 15px;
}

h1 {
	font-size: 4em;
	color: #ee3d96;
}

h1 + h2 {
	margin-top: 0px;
}

h2 {
	font-size: 3em;
	color: #92278f;
}

h3 {
	font-size: 2em;
	color: #f067a6;
}



.tags-reset-button, .tags-visibility-button {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tag-filters-hide {
	display: none;
}

.tag-filters {
}

.tag-container {
	display: block;
}

.tag-description {
	display: block;
	padding-left: 25px;
}

.tag-subtag-container {
	display: block;
	padding-left: 25px;
}

.tag-label {
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid #000;
	border-radius: 4px;
	margin-right: 4px;
}

.tag-label-start {
	margin-right: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: 0px;
}

.tag-label-middle {
	margin-left: 0px;
	margin-right: 0px;
	border-radius: 0px;
	border-right: 0px;
}

.tag-label-end {
	margin-left: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.site-container {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	margin-right: 10px;
	border: solid 1px #61217f;
	box-shadow: 2px 2px #61217f;
	width: 2in;
	padding: 10px;
	padding-bottom: 20px;

	background-color: white;
	position: relative;
	word-wrap: anywhere;
}

.site-updated {
	font-size: 8pt;
	color: #B0B0B0;
	position: absolute;
	bottom: 2px;
	right: 5px;
}

.site-title {
	display: inline-block;
	font-weight: 700;
}

.site-body-container {
	display: block;
	padding-left: 10px;

}

.site-description {
	display: inline-block;
}

.hide-site {
	display: none;
}

.site-container.dead, .site-container.redirect {
	display: none;

}

.dead a, .dead .site-link-container, .dead .site-title, .dead .site-description  {
	text-decoration: line-through;
	color: red;
}

.redirect a, .redirect .site-link-container, .redirect .site-title, .redirect .site-description  {
	color: orange;
}

.show_dead .site-container.dead, .show_dead .site-container.redirect {
	display: inline-block;
}


@media(max-width: 800px){

	.mobile-nav-bar {
		font-family: Roboto;
		font-size: 14pt;
		position: fixed;
		display: block;
		top: 0px;
		left: 0px;
		right: 0px;
		height: 60px;
		background-color: #92278f;
		line-height: 60px;
		color: white;
		z-index: 2;
		padding-left: 20px;
	}

	.desktop-nav-heading
	{
		display: none;
	}


	.main-container {
		flex-direction: column;

	}

	nav {
		display: none;
	}

	nav.show {
		box-sizing: border-box;
		width: 100%;
		height: calc(100% - 60px);
		display: block;
		z-index: 1;

		background-color: white;

		margin: 0px;

		padding-top: 70px;
		padding-bottom: 10px;

	}

	main {
		padding: 10px;
		padding-top: 60px;
	}
}

@media(max-width: 500px){
	.site-container {
		width: calc(100% - 30px)
	}
}